.nav__bar{
    width: 100%;
    display: flex;
    position: fixed;
    font-size: 18px;
    background-color:#E12D2D;
    color: white;
    /* justify-content: space-around; */
    padding-left: 70px;
    padding-top: 20px;
    gap: 60px;
    text-align: center;
    font-weight: 700;
    font-family: sans-serif;
}
.hover>p:hover{
    color: #E12D2D;
    cursor: pointer;
}